# Python
__pycache__/
*.pyc

# Environments & secrets
.env
*.env
*.json
*.pem
*.key

# Jupyter
.ipynb_checkpoints/

# OS / editor noise
.DS_Store
.vscode/
.idea/

# Old gitignore
.venv/
env/
.ipynb_checkpoints/
target/
dbt_modules/
.env
*.json
.DS_Store.env
