# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Secrets and credentials
.env
*.key.json
keys/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Docker-related
dbt-venv/
Dockerfile~
.dockerignore

# Google Cloud / BigQuery credentials
gcloud_application_default_credentials.json
.boto

# Jupyter kernel specs (if created locally)
.local/share/jupyter/kernels/

# System and user config
.cache/
.devcontainer/
.dotnet/
.ipython/
.jupyter/
.local/
.ssh/
.vscode-server/
.bash_history
.gitconfig*
.boto/
.config/
